* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
* Map control styles
*/
.mapboxgl-ctrl-top-right {
  top: 65px;
  right: 5px;
  z-index: 10;
}
  
/*
* Tutorial button styles
*/
.question-mark-container {
  color: white;
  background-color: red;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 170px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}

/* 
* Marker Styles
*/
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #25921B;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content p, a {
  margin: 0;
  padding: 6px;
}

.mapboxgl-popup-content a {
  float: right;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #25921B;
}