* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
* Sidebar button styles
*/
#locationSidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 24px 12px 12px 12px;
  font-family: monospace;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -400px; /* default closed, 0 when open */
  overflow-x: hidden;
  transition: left 0.5s ease;
}

#closeLocationSidebar {
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 36px;
  margin-left: 50px;
}

#openLocationSidebar {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  z-index: 9999; /* button at top of layers */
}

#openLocationSidebar:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where width is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  #locationSidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.heading {
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #25921B;
  text-decoration: none;
}

a:hover {
  color: #37d929;
}

/* 
* Listing Styles
*/
.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #25921B;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #37d929; }

.listings .item.active {
  background-color: rgba(101, 153, 205, 0.9);
}

.title {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #25921B;
  border-radius: 0;
}

/* 
* Marker Styles
*/
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #25921B;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content p, a {
  margin: 0;
  padding: 6px;
}

.mapboxgl-popup-content a {
  float: right;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #25921B;
}